[submodule "submodules/QuasarAppLib"]
	path = submodules/QuasarAppLib
	url = https://github.com/QuasarApp/QuasarAppLib
[submodule "submodules/SimpleQmlNotify"]
	path = submodules/SimpleQmlNotify
	url = https://github.com/QuasarApp/SimpleQmlNotify.git
[submodule "submodules/ViewSolutions"]
	path = submodules/ViewSolutions
	url = https://github.com/QuasarApp/ViewSolutions.git
[submodule "src/Core/CrawlCoreAssets"]
	path = src/Core/CrawlCoreAssets
	url = ssh://web@quasarapp.ddns.net:2022/QuasarApp/CrawlCoreAssets.git
[submodule "src/CrawlTestLvl/CrawlTestLvlAssets"]
	path = src/CrawlTestLvl/CrawlTestLvlAssets
	url = ssh://web@quasarapp.ddns.net:2022/QuasarApp/CrawlTestLvlAssets.git
[submodule "src/JungleLvl/CrawlJungleLvlAssests"]
	path = src/JungleLvl/CrawlJungleLvlAssests
	url = ssh://web@quasarapp.ddns.net:2022/QuasarApp/CrawlJungleLvlAssests.git
