[submodule "QuasarAppLib"]
	path = QuasarAppLib
	url = https://github.com/QuasarApp/QuasarAppLib.git

[submodule "SnakeServer/Qt-Secret"]
	path = SnakeServer/Qt-Secret
	url = git@github.com:QuasarApp/Qt-Secret.git
[submodule "installer"]
	path = installer
	url = git@github.com:QuasarApp/DesktopInstaller.git
