# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so*
*.dll
*.dylib
*.exe

# Qt-es
/Build*
*.stash
/Release*
/parts/*
/prime/*
/snap/.snapcraft/*
/stage/*
/Build-*
/Release-*
*.stash
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*
*_qml.cpp
*.snap
*.qm
qml_qmlcache.qrc
qmlcache_loader.cpp
snake

# QtCreator
installer/HanoiTowersInstaller
*.autosave
installer/installer

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*
installer/packages/Snake/data
\.buildconfig

SnakeServer/Daemon/build/*

SnakeServer/Client/build/*/Client

SnakeServer/Daemon/build/*/Daemon
