<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <WizardDefaultWidth>640px</WizardDefaultWidth>
    <WizardDefaultHeight>400px</WizardDefaultHeight>
    <Name>Snake</Name>
    <Version>1.0.0</Version>
    <Title>Snake</Title>
    <Publisher>SKB</Publisher>
    <StartMenuDir>Snake</StartMenuDir>
    <TargetDir>@HomeDir@/Snake</TargetDir>
    <CreateLocalRepository>true</CreateLocalRepository>
    <InstallActionColumnVisible>true</InstallActionColumnVisible>
    <RemoveTargetDir>true</RemoveTargetDir>
    <ControlScript>controlScript.js</ControlScript>
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <WizardStyle>Aero</WizardStyle>
    <Logo>icon.png</Logo>
    <RunProgram>@TargetDir@/Snake.exe</RunProgram>
</Installer>
